
body {
    height: 100dvh;
    display: grid;
    background-color: white;
}



.counter-tile .counter-digit {
    font-size: 2.5em;
    color: #fff;
}
i {
    font-size: 3em;
    color: white;
}

span {
    padding: 10px 15px;
}

.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
}

.counter-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    margin: 0px 10px;
   
}